#search-result-container{
    background-image: url("../../../public/mezban-images/main3.jpg");
    height: 80vh;
}

.s-head-content{
    width: 100vw;
    margin: 0%;
    height: fit-content;
    padding: 10px 30px;
    padding-top: 70px;
    background-color: rgba(0,0, 0,0.7);
}

.search-bar-holder{
   
}

#result-data{
    overflow-y: scroll;
    height: 69vh;
    border-radius: 10px;
}

.dropdown-menu{
    width: max-content;
    padding: 10px;
}

.dropdown-menu li{
    padding: 10px;
    transition: .3s;
    cursor: pointer;  
    border-bottom: 1px solid grey;  
}

.dropdown-menu li:hover{
    background-color: #cd1d1d;
    color: white;
    scale: 1.08;
}

