*{
	padding: 0;
	margin: 0;
}

#container{
	margin: 0;
	padding: 0;
}

.my-overlay{
	background-color: rgba(255, 51, 51, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
    animation-name: nav-overlay;
    animation-duration: 1s;
    transition: 1s;
}

.cross{
    color: white;
    position: absolute;
    left: 94%;
    font-size: 30px;
    cursor: pointer;
}

.search-bar-holder{
    width: 100vw;
    height: fit-content;
    padding: 10px 30px;
    padding-top: 70px;
    /* margin-top: 60px; */
    background-color: rgba(0,0, 0,0.7);
}